body {
  font-size: 22px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}

[v-cloak] {
  display: none;
}
