<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <label> <input type="checkbox" v-model="isPurple" /> Purple </label>

      <select v-model="selectedColor">
        <option value="">White</option>
        <option value="text-black">Black</option>
        <option value="text-orange">Orange</option>
      </select>

      <div class="circle" :class="[selectedColor, circle_classes]">Hi!</div>
      <hr />
      <hr />
      <p>{{fullName}}</p>
      <p>{{age}}</p>
      <a :href="url" target="_blank">Visit my Page</a>
      <p v-html="rawHTML"></p>
      <hr />

      <label for="">First Name</label>
      <input type="text" v-model.trim.lazy="firstName" />
      <label for="">Middle Name</label>
      <input type="text" @keyup.enter="updateMiddleName" />
      <label for="">Last Name</label>
      <input
        type="text"
        :value="lastName"
        @input.prevent="updateLastName('LastName Event Triggered!', $event)"
      />
      <label for="">Age</label> <br />
      <input type="number" v-model.number="age" />
      <br />
      <button @click="increment">Increase</button>
      <button v-on:click.ctrl="age--">Decrease</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
